<!DOCTYPE html>
<html lang="en">

<head>
    <title>Become a Member</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="title" content="PeepsPatriot membership | Peeps">
    <meta name="description" content="Please fill out the form below to become a PeepsPatriot.">
    <meta name="keywords"
        content="peeps, peepssx, dsocial, dbrowser, dweb, arisen, dwallet, peeros, dsearch, dride, dbuy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/logos/peepsx.png">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendor/custombox/dist/custombox.min.css">
    <link rel="stylesheet" href="assets/vendor/animate.css/animate.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!-- CSS Space Template -->
    <link rel="stylesheet" href="assets/css/theme.css">
    <!-- stripe payment js -->
    <script src="https://js.stripe.com/v3/"></script>


</head>

<body>
    
    <div class="main-content">
        <div class="container">
            <div class="email-content" style="padding: 50px;">
                <h1 style="text-align: center;">Arisen Church | Thank You For Your Donation!</h1>
                    <!-- Logo -->
                    <div class="emai-logo" style="text-align:center; margin:auto;">
                        <img src="https://arisen.network/assets/img/logo/arisen.png" alt="arisen Logo" style="max-width: 60px;" >
                    </div>
                     <!-- End Logo -->
                <p style="font-weight: 600 !important;">Dear <%= user_firstname %></p> 
                <p style="font-weight: 600 !important;">Thank you for your donation of <donation amount> to Arisen Ministries. Your support will help expand and fund our fight against big tech, as well as our other missions taking place around the world. Right now is a special time in our country's history, where Christian Americans like us must come together to reject the ungodly laws and principles being forced upon us. While Romans 13:1-5 says that every soul is subject to God's appointed governing authorities on Earth, Acts 4:18-20 and Acts 5:28-29 make clear that when those authorities go against the will and commandments of God - we MUST obey God first.</p>
                <p style="font-weight: 600 !important;">There is no question that our government and the private sector that funds our elected politicians have turned against God, are actively violating our God-given inalienable rights and have decided that conservative Christians must be silenced. We must stand firm and we must be strong as Proverbs 24:10 warns us, so that we may deliver those who are drawn towards death. We must refuse to conform to the ways of these authoritarians and big brotherites and instead take the Godly path. We must also realize that censorship is setting the stage for the antichrist, where all dissenting views must go - and the church will certainly be in its warpath during these last days.</p>
                <p style="font-weight: 600 !important;">The Book of Revelation clearly says that before the second coming of Jesus Christ that the gospel will be preached around the world. We created The Peeps Institute to ensure that foundations like the decentralized web could be formed, where God's Word could be distributed freely without interruption or censorship. These kinds of technologies will be important to the survival of our businesses, our families and our ability to communicate with others. It will also give us conservative Christians a way to fight back politically and take our country back in the process.</p> 
                <p style="font-weight: 600 !important;">Again, thank you for joining our crusade and this extremely important fight for freedom, justice, faith, life and America.</p> 
                <p style="font-weight: 600 !important;">To God be the glory!</p>
                <p style="font-weight: 600 !important;">Reverend Jared Rice Sr.</p>
            </div>
        </div>
    </div>


    

    

    <!-- JS Global Compulsory -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="assets/vendor/custombox/dist/custombox.min.js"></script>
    <script src="assets/vendor/custombox/dist/custombox.legacy.min.js"></script>
    <script src="assets/vendor/jquery.countdown.min.js"></script>

    <!-- JS Space -->
    <script src="assets/js/hs.core.js"></script>
    <script src="assets/js/components/hs.validation.js"></script>
    <script src="assets/js/helpers/hs.focus-state.js"></script>
    <script src="assets/js/components/hs.modal-window.js"></script>
    <script src="assets/js/components/hs.show-animation.js"></script>
    <script src="assets/js/components/hs.countdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js"></script>

    

    
</body>

</html>